NODE_ENV=production

PORT={{ port }}

DBHOST={{ mongo_host }}
DBPORT={{ mongo_port }}
DATABASE={{ mongo_dbname }}

RABBIT_HOST=amqp://{{ rabbit_login }}:{{ rabbit_password }}@{{ rabbit_host }}
RABBIT_EXCHANGE_NAME={{ rabbit_exchange }}
RABBIT_DEADLETTER_EXCHANGE_NAME={{ rabbit_deadLetterExchange }}
RABBIT_QUEUES={{ rabbit_local_queue }},{{ rabbit_remote_queue }},{{ rabbit_backup_queue }}

TELEGRAM_API_ID={{ telegram_api_id }}
TELEGRAM_API_HASH={{ telegram_api_hash }}