[Unit]
Description=Telegram plugin

[Service]
ExecStart={{ app_home }}/.nvm/nvm-exec npm run-script telegram-prod --prefix {{ app_home }}/ravop-plugins
Environment=NODE_VERSION={{ node_version }}
Restart=always
RestartSec=10
StandardOutput=null
StandardError=syslog
SyslogIdentifier={{ unit_name }}
User={{ app_user }}
WorkingDirectory={{ app_home }}/ravop-plugins

[Install]
WantedBy=multi-user.target
